html, body{
	height:100%;
}

*{
	margin:0px;
	padding:0px;
}

.post{
	margin-top:20px;
	padding-bottom:20px;
	width:550px;
}

/*-------------ХАКИ ДЛЯ OPERA----------------------*/
@media not all and (-webkit-min-device-pixel-ratio) { 
  .post{
	margin-top:20px;
  } 
}
/*-------------ХАКИ ДЛЯ OPERA----------------------*/

.post .head{
	background:url(/images/template/post_head.jpg);
	min-height:52px;
}

.post .inf{
	background:url(/images/template/inf_bg.jpg);
	height:27px;
}

.post .date {
	background: url(/images/template/date_bg1.jpg) no-repeat;
	width: 43px; height: 53px;
	float: left;
	padding-left:6px;
	font-size: 1.6em;
	position: absolute;
	position:relative;
	margin-left:-43px;
}

.date strong, .date small {
	font-size: 0.5em;
	text-transform: uppercase;
	display: block;
}

.date small {
	margin-top:-5px;
}

.date span{
	display:block;
	margin-top:-5px;
}

.post .head h2 {
	margin: 0; padding: 0 25px 0 10px;
	font: normal 1.3em Georgia, "Times New Roman", Times, serif;
    line-height: 52px;
	text-shadow: 1px 1px 1px #cfeb7f;
	display:block;
	background-color:#B1CC65;
}

.post .head h2 a {
	text-decoration: none;
	color: #222;
	display: block;
}

.post .head p{
	font-size: 0.9em;
	background: url(/images/template/author_bg.gif) no-repeat 10px bottom;
	height: 27px; line-height: 27px;
	margin: 0; padding: 0 10px 0 60px;
	color: #fff;
}
.inf p a {color:#fff; font-weight:bold;}
.inf p span {float: right;}

span.comments {
	display:block;
	float:right;
	position:absolute;
	position:relative;
	margin-top:-20px;
	left:20px;
	background: url(/images/template/comment_bubble.gif) no-repeat;
	width: 39px; height: 39px;
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	text-decoration: none;
	cursor:default;
}

.post .inf p{
	font-size: 0.9em;
	background: url(/images/template/author_bg.gif) no-repeat 10px bottom;
	height: 27px; line-height: 27px;
	margin: 0; padding: 0 10px 0 60px;
	color: #fff;
}

.art{
	color:#FFF;
	margin-top:20px;
	margin-left:10px;
	text-indent: 30px;
}